//оформление элементов, которые выглядят как кнопки, втч ссылок как кнопки

@use "../base/variables" as *

button, .button
  display: inline-flex
  font-size: 1.4rem
  line-height: 1
  font-weight: $fs_med
  min-height: 4rem
  min-width: 16rem
  align-items: center
  justify-content: center
  padding-left: 1em
  padding-right: 1em
  text-align: center

