//оформление инпутов, чекбоксов, текстовых полей и других полей ввода для форм
@use "../base/variables" as *

.input , .input_style_1
  display: inline-flex
  font-size: 1.6rem
  line-height: 1
  font-weight: $fs_semi
  min-height: 5rem
  min-width: 16rem
  align-items: center
  justify-content: center
  padding-left: 2em
  padding-right: 1.5em
  &::placeholder
    font-weight: $fs_light

