
body
  .row > *
     outline: 1px solid lightcoral
     //outline-offset: 1px
  .row > * > *
    outline: 1px solid darkred
  .row > * > * > *, .row > * > * > * > *
    outline: 1px solid lightblue

